/*
Copyright © 2024 NAME HERE <EMAIL ADDRESS>

generate from tools/generate_service/main_template/main.go.template

*/
package main

import "job-seek/services/{{.ServicePathName}}/cmd"

func main() {
	cmd.Execute()
}
